.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#calculator{
  display: inline-block;
  background-image: url('./assets/plasticTexture.jpg');
  background-size: contain;
  margin: 1vh;
  width: 500px;
  height: 600px;
  border: 10px solid black;
  border-radius: 25px;
}

#calcScreen{
  background-color: aliceblue;
  border-radius: 20px;
  height: 125px;
  overflow: auto;
  overflow-wrap: anywhere;
  margin: 20px 50px 20px 50px;
  padding: 10px;
  text-align: right;
  font-size: xx-large;
  border: 4px solid black;
}

#numPad {
  display: inline-block;
position: relative;
left: -75px;
top: 20px;
margin: 8px;
padding: 8px;
}
#btnInputs{
position: relative;
width: 100px;
left: 350px;
top: -275px;
margin: 8px;
padding: 8px;
}
#clrrcl{
  display: inline-block;
  position: relative;
 top: -350px;
 left: -72px;
}

button {
  border-radius: 10px;
  width: 100px;
  height: 50px;
  margin: 5px;
  font-size: xx-large;
  
  background-color: #F5F5DC;
  border: 3px solid black;
  border-spacing: 20px;
  box-shadow: 3px 3px 3px rgb(85, 85, 85);
}

button:hover{
  background-color:#e3e1c9
}
button:active{
  box-shadow: 1px 1px 1px rgb(85, 85, 85);
}
